
            *{
                box-sizing: border-box;
            }
            header{
				font-family: 'Goblin One', cursive;
                border: 2px solid black;
                border-bottom: 0px;
                text-align: center;
                padding-bottom: 12px;
                font-size: x-large;
            }
            .horizontal{
                border: 1px solid black;
                background-color: gray;
                height: 80px;
				padding-top: 15px;
				padding-left: 100px;
                
            }
          .horizontal  a{
                color: #f56773;
                text-decoration: none;
                padding: 100px;
                padding-top: 2px;
                padding-bottom: 20px;
                margin: 8px;
                vertical-align: middle;
                
            }
            .active{
				font-family: 'Goblin One', cursive;
				
				padding-right: 100px;
			}
				
				.photo{
				font-family: 'Goblin One', cursive;
				height: 10px;
				padding: 5px; 
               
            }
            .vertical{
                border: 2px solid black;
                width: 8%;
                height: 400px;
                background-color:black;
				
                float: left;
				padding-top: 40px;
				}
				
            .vertical a{
                text-decoration: none;
                color: #f56773;
				 padding: 100px;
                padding-bottom: 5px;
                padding-top: 5px;
                padding-left: 5px;
				
				
            }
            body{
                margin: 0px;
            }
			aside{
				font-family: 'Goblin One', cursive;
                border: 1px solid black;
                float: left;
                width: 100%;
				height: 200px;
				background-color: lavender;
            }
            .content{
				font-family: 'Pattaya', sans-serif;
				font-size:22px;
                float: left;
                width: 92%;
                height: 400px;
                background-color: olive;
               padding-bottom: 2px;
            }
            .content p{
                padding-left: 12px;
            }
            footer{
                text-align: center;
            }
            @media screen and (max-width: 999px) {
            .vertical{
             float: none;
             display:none;
			 
             }
			 .content{
			 width:100%;
			 }
            }
			